#shape{
    fill: $highlightColor1;

    path{
        stroke: $highlightColor1;
        // stroke-width: calc(var(--volume_0-10) * 10px);
        // stroke-width: calc(var(--volume_0-10) * 1px);
        // stroke-linejoin: round;
    }
}

.dropShadowOutline{
    width: 100%;
    filter: drop-shadow(calc(var(--volume_0-10) * 1px) calc(var(--volume_0-10) * 1px) 0 $highlightColor1)
        drop-shadow(calc(var(--volume_0-10) * -1px)  calc(var(--volume_0-10) * 1px) 0 $highlightColor1)
        drop-shadow(calc(var(--volume_0-10) * 1px) calc(var(--volume_0-10) * -1px)  0 $highlightColor1)
        drop-shadow(calc(var(--volume_0-10) * -1px)  calc(var(--volume_0-10) * -1px) 0 $highlightColor1);
}

.blurredThreshold{
    width: 100%;
    filter: brightness(calc(var(--volume_60-110) * 1%)) grayscale(0%) contrast(5000%);
    transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.lines{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -50;
    width: 100vw;
    height: 100vh;
}

.startPageImage{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -100;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    
    .colorOverlay{
        left: 50%;
        padding: 0;
        margin: 0;
        max-width: 100%;
        width: 100%;
        height: 100%;
        background-color: $backgroundColor;
        // background-color: $highlightColor1;
    }
    img{
        object-position: center;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        height: 100%;
        filter: brightness(calc(var(--volume_190-75) * 1%)) grayscale(100%) contrast(5000%);
        -webkit-filter: brightness(calc(var(--volume_190-75) * 1%)) grayscale(100%) contrast(5000%);
    }
}
